<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script type="module" src="./construct.js"></script>
    <script type="module" src="./append-by-class.js"></script>
    <script type="module" src="./enable.js"></script>
    <script type="module" src="./disable.js"></script>
    <script type="module" src="./on-event.js"></script>
    <script type="module" src="./hide.js"></script>
    <script type="module" src="./hideWithCallback.js"></script>
    <script type="module" src="./show.js"></script>
    <script type="module" src="./showWithCallback.js"></script>
    <script type="module" src="./text.js"></script>
    <script type="module" src="./value.js"></script>
    <script type="module" src="./fromClass.js"></script>
    <script type="module" src="./fromName.js"></script>
</body>
</html>